#### Data Processing and Cleaning

In [17]:
import numpy as np
import pandas as pd

In [18]:
df = pd.read_csv('goodreads_data.csv')
df.head(20)

,uselessNumbers,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1,1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...
2,2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...
3,3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...
4,4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...
5,5,The Little Prince,Antoine de Saint-Exupéry,A pilot stranded in the desert awakes one morn...,"['Classics', 'Fiction', 'Fantasy', 'Childrens'...",4.32,"1,924,063",https://www.goodreads.com/book/show/157993.The...
6,6,1984,George Orwell,The new novel by George Orwell is the major wo...,"['Classics', 'Fiction', 'Science Fiction', 'Dy...",4.19,"4,201,429",https://www.goodreads.com/book/show/61439040-1984
7,7,The Great Gatsby,F. Scott Fitzgerald,Alternate Cover Edition ISBN: 0743273567 (ISBN...,"['Classics', 'Fiction', 'School', 'Historical ...",3.93,"4,839,642",https://www.goodreads.com/book/show/4671.The_G...
8,8,The Catcher in the Rye,J.D. Salinger,It's Christmas time and Holden Caulfield has j...,"['Classics', 'Fiction', 'Young Adult', 'Litera...",3.81,"3,315,881",https://www.goodreads.com/book/show/5107.The_C...
9,9,The Lord of the Rings,J.R.R. Tolkien,"One Ring to rule them all, One Ring to find th...","['Fantasy', 'Classics', 'Fiction', 'Adventure'...",4.52,"644,766",https://www.goodreads.com/book/show/33.The_Lor...
10,10,The Book Thief,Markus Zusak,Librarian's note: An alternate cover edition c...,"['Historical Fiction', 'Fiction', 'Young Adult...",4.39,"2,364,659",https://www.goodreads.com/book/show/19063.The_...
11,11,Jane Eyre,Charlotte Brontë,"Orphaned as a child, Jane has felt an outcast ...","['Classics', 'Fiction', 'Romance', 'Historical...",4.14,"1,975,582",https://www.goodreads.com/book/show/10210.Jane...
12,12,The Chronicles of Narnia (Chronicles of Narnia...,C.S. Lewis,Librarian note: An alternate cover for this ed...,"['Fantasy', 'Classics', 'Young Adult', 'Childr...",4.27,"617,006",https://www.goodreads.com/book/show/11127.The_...
13,13,Lord of the Flies,William Golding,"At the dawn of the next world war, a plane cra...","['Classics', 'Fiction', 'Young Adult', 'School...",3.69,"2,738,919",https://www.goodreads.com/book/show/7624.Lord_...
14,14,Romeo and Juliet,William Shakespeare,"In Romeo and Juliet, Shakespeare creates a vio...","['Classics', 'Plays', 'Fiction', 'Romance', 'S...",3.74,"2,469,086",https://www.goodreads.com/book/show/18135.Rome...
15,15,Harry Potter and the Deathly Hallows (Harry Po...,J.K. Rowling,"Harry has been burdened with a dark, dangerous...","['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",4.62,"3,468,276",https://www.goodreads.com/book/show/136251.Har...
16,16,The Kite Runner,Khaled Hosseini,1970s Afghanistan: Twelve-year-old Amir is des...,"['Fiction', 'Historical Fiction', 'Classics', ...",4.33,"2,954,721",https://www.goodreads.com/book/show/77203.The_...
17,17,"The Giver (The Giver, #1)",Lois Lowry,"At the age of twelve, Jonas, a young boy from ...","['Young Adult', 'Fiction', 'Classics', 'Dystop...",4.12,"2,285,401",https://www.goodreads.com/book/show/3636.The_G...
18,18,The Giving Tree,Shel Silverstein,"""Once there was a tree...and she loved a littl...","['Childrens', 'Fiction', 'Picture Books', 'Cla...",4.38,"1,067,524",https://www.goodreads.com/book/show/370493.The...
19,19,Charlotte's Web,E.B. White,"This beloved book by E. B. White, author of St...","['Classics', 'Fiction', 'Childrens', 'Fantasy'...",4.19,"1,724,889",https://www.goodreads.com/book/show/24178.Char...

In [19]:
print(df['Genres'].value_counts())

Genres
[]                                                                                                                     960
['Fiction']                                                                                                             49
['Fantasy']                                                                                                             42
['Nonfiction']                                                                                                          24
['Romance']                                                                                                             20
                                                                                                                      ...
['Nonfiction', 'Self Help', 'Personal Development', 'Audiobook', 'Psychology', 'Christian', 'Philosophy']                1
['Nonfiction', 'Epic']                                                                                                   1
['Young Adult', 'Fantasy', 'Fiction', 'Mystery', 'Teen', 'Love Story', 'New Adult']                                      1
['Nonfiction', 'Memoir', 'Biography', 'Spanish Literature', 'Biography Memoir', 'Magical Realism', 'Autobiography']      1
['New Adult', 'Romance', 'Contemporary Romance', 'Contemporary']                                                         1
Name: count, Length: 8043, dtype: int64

In [20]:
df.drop('uselessNumbers', axis=1, inplace=True)
df.drop('Num_Ratings', axis=1, inplace=True)
df.drop('URL', axis=1, inplace=True)

In [21]:
df

,Book,Author,Description,Genres,Avg_Rating
0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27
1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47
2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28
3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18
4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98
...,...,...,...,...,...
9995,"Breeders (Breeders Trilogy, #1)",Ashley Quigley,How far would you go? If human society was gen...,"['Dystopia', 'Science Fiction', 'Post Apocalyp...",3.44
9996,Dynamo,Eleanor Gustafson,Jeth Cavanaugh is searching for a new life alo...,[],4.23
9997,The Republic of Trees,Sam Taylor,This dark fable tells the story of four Englis...,"['Fiction', 'Horror', 'Dystopia', 'Coming Of A...",3.29
9998,"Waking Up (Healing Hearts, #1)",Renee Dyer,For Adriana Monroe life couldn’t get any bette...,"['New Adult', 'Romance', 'Contemporary Romance...",4.13
9999,Bits and Pieces: Tales and Sonnets,Jas T. Ward,After demands of thousands of fans in various ...,[],5.00

In [32]:
df = df[df['Genres'].astype(str) != '[]']

In [33]:
df

,Book,Author,Description,Genres,Avg_Rating
0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27
1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47
2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28
3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18
4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98
...,...,...,...,...,...
9993,Call To Crusade,Tom Vetter,"In Call To Crusade, Tom Vetter begins the Sieg...","['Historical Fiction', 'Historical']",4.56
9994,"Die Känguru-Chroniken (Die Känguru-Chroniken, #1)",Marc-Uwe Kling,"""Kannst du heute mal bezahlen?"", fragt das Kän...","['Humor', 'Fiction', 'Audiobook', 'German Lite...",4.30
9995,"Breeders (Breeders Trilogy, #1)",Ashley Quigley,How far would you go? If human society was gen...,"['Dystopia', 'Science Fiction', 'Post Apocalyp...",3.44
9997,The Republic of Trees,Sam Taylor,This dark fable tells the story of four Englis...,"['Fiction', 'Horror', 'Dystopia', 'Coming Of A...",3.29
9998,"Waking Up (Healing Hearts, #1)",Renee Dyer,For Adriana Monroe life couldn’t get any bette...,"['New Adult', 'Romance', 'Contemporary Romance...",4.13

In [34]:
df = df.reset_index(drop=True)

In [35]:
df

,Book,Author,Description,Genres,Avg_Rating
0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27
1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47
2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28
3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18
4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98
...,...,...,...,...,...
9035,Call To Crusade,Tom Vetter,"In Call To Crusade, Tom Vetter begins the Sieg...","['Historical Fiction', 'Historical']",4.56
9036,"Die Känguru-Chroniken (Die Känguru-Chroniken, #1)",Marc-Uwe Kling,"""Kannst du heute mal bezahlen?"", fragt das Kän...","['Humor', 'Fiction', 'Audiobook', 'German Lite...",4.30
9037,"Breeders (Breeders Trilogy, #1)",Ashley Quigley,How far would you go? If human society was gen...,"['Dystopia', 'Science Fiction', 'Post Apocalyp...",3.44
9038,The Republic of Trees,Sam Taylor,This dark fable tells the story of four Englis...,"['Fiction', 'Horror', 'Dystopia', 'Coming Of A...",3.29
9039,"Waking Up (Healing Hearts, #1)",Renee Dyer,For Adriana Monroe life couldn’t get any bette...,"['New Adult', 'Romance', 'Contemporary Romance...",4.13

#### Training the Model

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors

In [15]:
# Text Vectorization

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['Genres'])

ValueError: empty vocabulary; perhaps the documents only contain stop words